.col-lg-12
  .jumbotron#experience
    %h2 Experience
.col-lg-offset-3.col-lg-3
  .panel.panel-primary
    .panel-heading
      %h3.panel-title View Resume
    .panel-body
      =link_to 'https://s3.amazonaws.com/tiy-portfolio/resume.pdf' do
        %i.fa.fa-file-pdf-o.fa-4x
      %br
.col-lg-3
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Download Resume
    .panel-body
      =link_to  controller: 'static_pages', action: 'download', filename: 'resume.pdf' do
        %i.fa.fa-cloud-download.fa-4x
