%br#experience
.col-lg-12
  .jumbotron
    %h2 Experience
.col-lg-4
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Codesmith Development
    .panel-body
      %h5 Lead a small Ruby team to build robust projects for Client’s needs. Responsibilities include: Meeting with Clients, Build API’s, Maintain Deployed Code, Build Readable Documentation, and Managing Front & Back End teams.
      %br
.col-lg-4
  .panel.panel-primary
    .panel-heading
      %h3.panel-title MVP Innovations 
    .panel-body
      %h5 Front end engineer specializing in AngularJS. Created new features for the SaaS application, while debugging preexisting issues. While there, honed Angular JS skills and was able to learn NodeJS and Express.
      %br
.col-lg-4
  .panel.panel-primary
    .panel-heading
      %h3.panel-title The Iron Yard - Rails Engineering
    .panel-body
      %h5 Three month intense coding bootcamp designed to cultivate Ruby on Rails Developers. 60-80 hours per week, the course promoted the ability to teach yourself how to learn. Able to adapt to any situations on the job. 
      %br
.col-lg-offset-4.col-lg-4
  .panel.panel-default.second
    .panel-heading
      %h3.panel-title Resume
    .panel-body
      =link_to 'https://s3.amazonaws.com/tiy-portfolio/resume.pdf' do
        %i.fa.fa-file-pdf-o.fa-4x.pull-left
      =link_to  controller: 'static_pages', action: 'download', filename: 'resume.pdf' do
        %i.fa.fa-cloud-download.fa-4x.pull-right
