.col-lg-12
  .jumbotron
    %h2 Skills
.col-lg-4#skills
  .panel.panel-info
    .panel-heading
      %h3.panel-title Back End
    .panel-body
      .ul 
        .li Ruby
        .li Rails
        .li Rspec
        .li Sinatra
        .li Mandrill
        .li Capybara
        .li PostgreSQL
        .li Amazon Web Services
.col-lg-4
  .panel.panel-warning
    .panel-heading
      %h3.panel-title Front End
    .panel-body
      .ul
        .li Sass
        .li JQuery
        .li Bourbon
        .li Bootstrap
        .li AngularJS
        .li Javascript
        .li Angular UI
        .li HTML/CSS

.col-lg-4
  .panel.panel-success
    .panel-heading
      %h3.panel-title Workflow/Tools
    .panel-body
      .ul
        .li Git
        .li Vim
        .li Scrum
        .li Github
        .li Heroku
        .li Mac OSX
        .li Bitbucket
        .li Chrome Developer Tools

