.col-lg-6.left#work
  =link_to image_tag('pricetimate.png', class: 'pic'), 'http://www.pricetimate.com'
  =link_to 'http://github.com/andrewhouse/weekly', class: 'btn btn-primary' do 
    Github 
    %i.fa.fa-github
.col-lg-6
  =link_to image_tag('busbee.png', class: 'pic'), 'http://busbee.herokuapp.com'
  =link_to 'http://github.com/andrewhouse/hackathon', class: 'btn btn-primary' do 
    Github 
    %i.fa.fa-github
.col-lg-6.left
  =link_to image_tag('tiy-homework.png', class: 'pic'), 'http://tiy-homework.herokuapp.com'
  =link_to 'http://github.com/andrewhouse/TIY-Homework-Checker', class: 'btn btn-primary' do 
    Github 
    %i.fa.fa-github
.col-lg-6
  =link_to image_tag('iron-shop.png', class:'pic'), 'http://iron-shop.herokuapp.com'
  =link_to 'http://github.com/andrewhouse/iron-shop', class: 'btn btn-primary' do 
    Github 
    %i.fa.fa-github
.col-lg-6.left
  =link_to image_tag('friendly-books.png', class: 'pic'), 'http://friendly-books.herokuapp.com'
  =link_to 'http://github.com/andrewhouse/books', class: 'btn btn-primary' do 
    Github 
    %i.fa.fa-github
.col-lg-6
  =link_to image_tag('hangman.png',class: 'pic'), 'http://andrew-hangman.herokuapp.com'
  =link_to 'http://github.com/andrewhouse/hangman', class: 'btn btn-primary' do 
    Github 
    %i.fa.fa-github
.col-lg-6.left
  =link_to image_tag('sinatra.png', class: 'pic'), 'http://andrew-sinatra.herokuapp.com'
  =link_to 'http://github.com/andrewhouse/sinatra_app', class: 'btn btn-primary' do 
    Github 
    %i.fa.fa-github
.col-lg-12
