/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.picture{
  height: 18em;
  border-radius: 2%;
}
.cnt{
  text-align:center;
  font-size: 1.5em;
  margin-top: 5%;
  line-height: 250%;
}
.col-lg-4{
  margin-top: 7%;
  text-align:center;
  img{
    display: inline-block;
  }
  h5{
    font-size:1.5em;
  }
  a{
    text-decoration: none;
  }
  .panel{
    visibility: hidden;
    margin-top: -9%;
  }
}
.col-lg-4{
  text-align: center;
  .pic{
    height: 18em;
    width: 560px;
    margin-top: 4%;
  }
  .btn{
    margin-top: 2%;
  }
  .panel-primary{
    background: #ddd;
    color: black;
    img{
      width: 100%;
    }
    .btn{
      margin: 3% 1%;
      width: 30%;
    }
  }
}
.left{
}
.jumbotron{
  visibility: hidden;
  margin-top: 4%;
  text-align: center;
}
#work{
  margin-bottom: 7%;
  margin-top: 6%;
}
.carousel-control .control-left,
.carousel-control .control-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .control-left {
  left: 50%;
}
.carousel-control .control-right {
  right: 50%;
}
.modal-header{
  text-align: center;
}
.carousel-caption{
  color: slategray;
}
.col-lg-3{
  .panel{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
  }
}
.panel-info{
  a{
    .pull-left{
      margin-left: 17%;
    }
    .pull-right{
      margin-right: 17%;
    }
  }
}
.stretch{
  width: 100%;
  background-image: url(image-path('AndrewTIY.png'));
}
