!!! 5
%html(lang="en")
  =render 'layouts/head'

  %body
    =render 'layouts/navbar'
    //.stretch

    .container
      .row
        .col-lg-12
          = bootstrap_flash
          = yield
      %footer
        %p &copy; Andrew House 2014
